
<div class="navbar" style="color: #040404;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('becado') }}" style="vertical-align: middle !important  ;
               font-family: serif; font-size: 20px;
               float: left;">
                {% image '@BecaBundle/Resources/public/images/logoDesarrolloSocial-medium.jpg' %}
                <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>

            <span style="vertical-align: middle; font-family: serif; font-size: 26px; float: right;">
                <strong> <br><br><br>GESTIÓN DE BECAS - MDS
                </strong></span>
        </div>
    </div>
</div> 