{#{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}
#}
{% block title %}
    Beca
{% endblock %}

{% block page %}

<h1>Becado</h1>

<form class="well" action="{{ path('becadobeca_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">Crear</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('becadobeca') }}">
            Volver a la lista
        </a>
    </div>
</div>
{% endblock %}